<div>
	<div class="name-block">
		<img class="name-block__avatar" src="{{site.baseurl}}/assets/img/me.jpg" alt="avatar"/>
		<h1 class="title-fullname">Nozim Yunusov</h1>
		<h2 class="description">software developer</h2>
	</div>


	<div class="social-block shake-block">
		<a target="_blank" class="social-link" href="https://www.linkedin.com/in/nozim-1/"><i class="fab fa-linkedin-in"></i></a>
		<a target="_blank" class="social-link" href="https://github.com/zelflod"><i class="fab fa-github-alt"></i></a>
		<a target="_blank" class="social-link" href="https://t.me/zelflod"><i class="fab fa-telegram-plane"></i></a>
		<a target="_blank" class="social-link" href="https://www.hackerrank.com/nozimdev1"><i class="fab fa-hackerrank"></i></a>
	</div>

	<div class="batteryAlert">
		Oh, low battery on your device, <span class="batteryLevel"></span>. Charge it!
	</div>
</div>



