$primary-color: #000000;
$color-background: #1c3f7b;
$color1: #ccc;

html, body {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(-45deg, #514c9b, #2f4486, $color-background, #5e4fa2,);
  background-size: 400% 400%;
  width: 100%;
  margin: 0;
  color: #ffffff;
  animation: gradientBG 15s ease infinite;
}

.wrapper {
  height: 100%;
}

.main-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-block {
  display: flex;
  justify-content: center;
}

.social-link {
  font-size: 2em;
  padding: 0 5px;
}

a {
  color: darken($color1, 15%);

  &:hover {
    text-decoration: underline;
    color: darken($color1, 30%);
  }

  &:focus {
    text-decoration: none;
  }
}

.name-block {
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.shake-block {
  animation-name: shake;
  animation-timing-function: ease-in-out;
  animation-duration: 5s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes shake {
  0%, 20%, 100% {
    transform: translate3d(0, 0, 0);
  }
  2%, 6%, 10%, 14%, 18% {
    transform: translate3d(-5px, 0, 0);
  }
  4%, 8%, 12%, 16% {
    transform: translate3d(5px, 0, 0);
  }
}
